@font-face {
  font-family: "Graphik";
  src: url("./Graphik-Regular-Trial.otf") format("truetype");
}
.buy_max {
  width: 80px;
  height: 42px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: 0.01em;
  border: 2px solid #0052ff;
  border-radius: 4px;
  color: #0052ff;
  background-color: white;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
